<!doctype html>
<html>
<head>
    <title>Upload</title>
    <script type="text/javascript">
        window.UPLOAD_ID = '{{ new_id }}';
    </script>
    <script type="text/javascript" src="/static/script.js"></script>
    <style>
        li span {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="upload">
        <form id="uploadForm" method="POST" action="{{ reverse_url('upload') }}?id={{ new_id }}" enctype="multipart/form-data">
            <input type="file" name="upload" multiple />
            <input type="submit" />
        </form>
    </div>
    <ul id="filesToUpload"></ul>
</body>
</html>